.sign-up {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $brand-white;
}

.sign-up-form {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 500px;
  margin: auto;
  text-align: center;
}

.input {
  display: inline-block;
  box-sizing: border-box; // Make input 100% of container
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 2px;
  margin-bottom: 10px;
  border: 1px solid $brand-light-grey;
}
