.word-problem {
  display: inline-block;
  width: 100%;

  .text-box {
    display: inline-block;
    width: 100%;
    padding: 5px;
    height: 12em;
    resize: none;
    outline: none;
    border: 1px solid $brand-light-grey;
    font-size: 14px;
    margin-bottom: 2em;
  }

  .btn {
    display: inline-block;
    width: 200px;
  }
}
