$sidebar-width: 200px;
$main-width: calc(100% - #{$sidebar-width});

.chat {
  position: relative;
  display: inline-block;
  height: 500px;
  width: 100%;

  .sidebar {
    position: absolute;
    width: $sidebar-width;
    bottom: 0;
    top: 0;
    left: 0;
    padding: 1em;
    background-color: #eeeeee;
    color: $brand-white;
  }

  .main {
    position: relative;
    display: inline-block;
    height: 100%;
    width: $main-width;
    margin-left: $sidebar-width;
    padding: 1em;
  }

  .new-message {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px;
    background-color: $brand-blue;
  }

}
