.btn {
  display: inline-block;
  padding: 18px 24px;
  border-radius: 3px;
  border: none;
  outline: none;
  background: $brand-primary;
  color: $brand-white;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}
