.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $brand-white;

  .login-form {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    width: 500px;
    text-align: center;
    margin: auto;
  }

  .form-group {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }

  .input {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 2px;
    border: 1px solid $brand-light-grey;
  }

}
