<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="./manifest.json">
  <!-- <script src="vendor.js" charset="utf-8"></script> -->
  <!-- <script src="app.js" charset="utf-8"></script> -->
  <!-- Prompt a message in the browser if users disabled JS -->
  <noscript>Your browser does not support JavaScript!</noscript>
  <meta name="author" content="Claudia Cedfeldt">
  <meta name="theme-color" content="#ffffff">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->

  <title>Test</title>

</head>
  <body>
    <div id="app"></div>
  </body>
</html>
