
$brand-red:             #e8626f; // red
$brand-green:           #2cc760; // bright green
$brand-white:           #ffffff; // white

$brand-primary:         #131313 !default;
$brand-success:         #2cc760 !default;

$brand-teal:            #34546B;
$brand-light-teal:      #4D7C9E;
$brand-light-grey:      #d9dee1;

$roboto: 'Roboto', sans-serif !default;
$open-sans: 'Open Sans', sans-serif;

// This needs to be here for font-awesome to work
$fa-font-path: '../fonts/font-awesome';
