
$brand-red:             #e8626f; // red
$brand-green:           #2cc760; // bright green
$brand-white:           #ffffff; // white

$brand-primary:         #131313 !default;
$brand-success:         #2cc760 !default;
$brand-light-grey:      #d9dee1;

// Gradient1
$brand-blue:             #6FD6FF;
$brand-light-green:      #BFF098;

// Gradient2
$color1:                 #00B7FF;
$color2:                 #FFFFC7;

$gradient1: linear-gradient(to right, $brand-blue, $brand-light-green);
$gradient2: linear-gradient(to right, $color1, $color2);


$roboto: 'Roboto', sans-serif !default;
$open-sans: 'Open Sans', sans-serif;

// This needs to be here for font-awesome to work
$fa-font-path: '../fonts/font-awesome';
