.form-group {
  display: inline-block;
  width: 100%;

  .input, {
    display: inline-block;
    width: 100%;
  }

  .label, .field-error {
    display: flex;
    justify-content: space-between;
  }

  .label {
    color: $brand-primary;
    margin-bottom: 3px;
  }

  .error-label {
    color: $brand-red;
  }

  .field-error {
    color: $brand-red;
  }

  .input {
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    border-radius: 2px;
    border: 1px solid $brand-light-grey;
  }

  .error-input {
    border: 1px solid $brand-red;
  }

}
